@charset "UTF-8";
body{
	width: 1200px;
	margin: 0px auto;	
}
header{
	width: 1200px;
}
.binzipLogo {
	padding-top: 30px;
}
.binzipLogo img{
	width: 50px;
	height: auto;
	display: inline;
	margin-right: 260px;
	float: left;
	text-align: left;
}
header nav li{
	display: inline;
	list-style-type: none;
}
.whereMenu{
	font-size: 18px;
	margin-right: 230px;
}
.otherMenu{
	margin-right:50px;
}
.myMenu img{
	margin-left: 180px;
}
header nav a{
	text-decoration: none;
	color: darkgray;
}
header nav a:hover {
	color: black;
	font-weight: bold;
}
header nav a:active {
	color: black;
	font-weight: bold;
}
#locateIcon{
	width: 20px;
	height: auto;
}
body h5{
	text-align: center;
}
#myPageIcon{
	text-align: right;
	width: 20px;
	height: 20px;
}
.mainImg{	
	float: center;
}
.mainImg img{
	display: block;
	margin: 0px auto;
	width: 1200px;
	height: 550px;
	margin-top: 30px;
}
.midText{
	margin-top: 25px;
}
.midText_proposeZip{
	margin-top: 55px;
}
#bannerImg{
	width: 1200px;
	height: 400px;
	display: block;
	margin: 0px auto;
}
footer{
	width: 1200px;
	height: 280px;
	background-color: lightgray;
	margin-top: 50px;
}
.footerImg img{
	width: 70px;
	height: auto;
	margin-top: 20px;
	margin-left: 20px;
}
.footerPanel{
	font-size: 12px;
	margin-top: 20px;
	margin-left: 20px;
	padding-bottom: 20px;
}
.zipOffer table{
	width: 900px;
	height: 800px;
	margin: 0px auto;
	
}

.zipOffer a{
	margin-left: 10px;
}

.lb_book a:link{
			text-decoration: decoration;
			color: black;
		}
.lb_book a:visited{
		text-decoration: none;
		color: black;
	}
.lb_book a:hover {
	cursor: pointer;
	color: lightgray;
}
